{% extends "Questions & Answers.html" %}
{% block container %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="margin">
            <div class="h1">Register</div>
            <div class="box">

                <form action="{{ url_for('register') }}" method="post">
                    <div class="inp">
                        <div class="txt">Name</div>
                        <input required type="text" placeholder="Name" name="name">
                    </div>
                    <div class="inp">
                        <div class="tx
                        t">Password</div>
                        <input required type="password" placeholder="Password" name="password">
                    </div>
                    <button class="btn" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}